<div class="col-lg-9">
  <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
      <a href="" class="text-decoration-none d-block d-lg-none">
          <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav mr-auto py-0">
              <a href="home" class="nav-item nav-link">Home</a>
              <a href="shop" class="nav-item nav-link">Shop</a>
              <a href="detail" class="nav-item nav-link">Shop Detail</a>
              <div class="nav-item dropdown">
                  <div class="dropdown-menu rounded-0 m-0">
                      <a href="cart" class="dropdown-item">Shopping Cart</a>
                      <a href="checkout" class="dropdown-item">Checkout</a>
                  </div>
              </div>
              <a href="contact" class="nav-item nav-link active">Contact</a>
          </div>

          
          <div class="navbar-nav ml-auto py-0">
              <a href="login" class="nav-item nav-link">Login</a>
              <a href="register" class="nav-item nav-link">Register</a>
          </div>
      </div>
  </nav>
</div>
<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
      <form
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="username.invalid && (username.dirty || username.touched)"
          >
            Username is required!
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="password.invalid && (password.dirty || password.touched)"
          >
            <div *ngIf="password.errors?.['required']">Password is required</div>
            <div *ngIf="password.errors?.['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Login
          </button>
        </div>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed"
          >
            Login failed: {{ errorMessage }}
          </div>
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isLoggedIn">
        Logged in as {{ roles }}.
      </div>
    </div>
  </div>
  