/* app.component.css */

.navbar {
    background-color: #343a40 !important;
  }
  
  .navbar-brand, .nav-link {
    color: #ffffff !important;
  }
  
  .nav-link:hover {
    color: #f8f9fa !important;
  }
  
  .navbar-toggler-icon {
    filter: invert(1);
  }
  