<h6 class="m-0">Categories</h6>
<i class="fa fa-angle-down text-dark"></i>
<nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
  <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
    <!-- Liens de navigation -->
    <a routerLink="/computers" class="nav-item nav-link">Computers</a>
    <a routerLink="/accessories" class="nav-item nav-link">Accessories</a>
    <a routerLink="/peripherals" class="nav-item nav-link">Peripherals</a>
  </div>
</nav>
